.microposts-comments {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    transition: .3s;
    cursor: pointer;

    &:hover {
      box-shadow: 4px 7px 18px -1px black;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    word-break: break-all;
    max-width: 400px;
    overflow-y: auto;
    height: 100px;
  }

  &__date {
    display: flex;
    margin-left: auto;
    align-items: flex-start;
  }

  &__tool {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  &__func
  {
    margin-top: auto;
  }

  &__author, &__date {
    margin-bottom: 5px;
  }

  .gravatar {
    width: 50px;
  }

  span {
    font-weight: 700;
    margin-right: 5px;
  }
}