<<<<<<< HEAD
<% provide(:title, "About") %>
<h1>Contact</h1>
<p>
    This is home page
</p>
=======
<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
    This is Contact page
</p>

>>>>>>> static-pages-exercises
