<li>
    <%= gravatar_for user, size: 50 %>
    <div>
        <%= link_to user.name, user %>
    </div>
    <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "Удалить", user, method: :delete,
                                        data: {confirm: "Вы уверены?"} %>
    <% end %>
</li>