<%= form_for ([@micropost, @micropost.comments.build]) do |f| %>
  <div class=field>
    <%= f.text_area :comment_text %>
  </div>
  <div class=actions>
    <%= f.submit "Отправить" %>
  </div>
<% end %>