@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.imgs {
  width: 100px;
}

a {
  display: inline-block;
}

.btn {
  color: white !important;
}


.top {
  display: flex;
  align-items: center;

  nav {
    margin-left: auto;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light !important;

  a {
    color: #555;
    transition: .3s;

    &:hover {
      background-color: transparent !important;
      color: white !important;
      text-decoration: none;
      text-shadow: 1px 1px 4px black;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

