<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
     <%= link_to "Доска объявлений", root_path, id: "logo" %>
  </div>
  <!-- Copyright -->

</footer>